In [5]:
import pandas as pd
import sqlite3 as s3
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter('ignore')

go_sales = s3.connect('go_sales.sqlite')

order_details = pd.read_sql_query('SELECT * FROM order_details', go_sales)
order_header = pd.read_sql_query('SELECT * FROM order_header', go_sales)
return_reason = pd.read_sql_query('SELECT * FROM return_reason', go_sales)
returned_item = pd.read_sql_query('SELECT * FROM returned_item', go_sales)

In [71]:
merged_orders = pd.merge(order_details, order_header, left_on='ORDER_NUMBER', how='inner', right_on='ORDER_NUMBER')
returned_orders = pd.merge(merged_orders, returned_item, left_on='ORDER_DETAIL_CODE', how='outer', right_on='ORDER_DETAIL_CODE')
returned_orders = returned_orders[['PRODUCT_NUMBER', 'QUANTITY', 'UNIT_PRICE', 'UNIT_SALE_PRICE', 'RETAILER_SITE_CODE', 'ORDER_DATE', 'RETURN_DATE', 'RETURN_REASON_CODE']]
returned_orders['RETURN_DATE'] = returned_orders['RETURN_DATE'].fillna(0)
returned_orders['RETURN_REASON_CODE'] = returned_orders['RETURN_REASON_CODE'].fillna(0)
# returned_orders = returned_orders[returned_orders['RETURN_REASON_CODE'] != 0]
returned_orders

,PRODUCT_NUMBER,QUANTITY,UNIT_PRICE,UNIT_SALE_PRICE,RETAILER_SITE_CODE,ORDER_DATE,RETURN_DATE,RETURN_REASON_CODE
0,96,16,22.54,22.54,334,2020-07-26,0,0
1,96,20,22.54,22.54,330,2020-05-29,0,0
2,96,24,22.54,22.54,328,2020-04-17,0,0
3,96,18,22.54,22.54,328,2020-08-19,0,0
4,96,20,22.54,22.54,326,2020-03-19,0,0
...,...,...,...,...,...,...,...,...
43058,95,146,5.55,5.55,333,2020-08-20,0,0
43059,95,172,5.55,5.55,333,2020-04-04,0,0
43060,95,192,5.55,5.55,334,2020-11-20,0,0
43061,95,192,5.55,5.55,326,2020-07-30,0,0
43062,96,22,22.54,22.54,326,2020-09-27,0,0