## Setup

In [46]:
import pandas as pd
import sqlite3 as s3
import pyodbc
from datetime import datetime
import warnings
warnings.simplefilter('ignore')

DB = {'servername': 'NOAH\SQLEXPRESS01',
      'database': '4.3 db2'}

export_conn = pyodbc.connect('DRIVER={SQL SERVER};SERVER=' + DB['servername'] + ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

go_sales = s3.connect('go_sales.sqlite')
go_staff = s3.connect('go_staff.sqlite')
go_crm = s3.connect('go_crm.sqlite')

product = pd.read_sql_query('SELECT * FROM product', go_sales)
product_type = pd.read_sql_query('SELECT * FROM product_type', go_sales)
sales_staff = pd.read_sql_query('SELECT * FROM sales_staff', go_sales)
sales_branch = pd.read_sql_query('SELECT * FROM sales_branch', go_sales)
staff_manager = pd.read_sql_query('SELECT * FROM sales_staff', go_staff)
order_method = pd.read_sql_query('SELECT * FROM order_method', go_sales)
return_reason = pd.read_sql_query('SELECT * FROM return_reason', go_sales)
retailer_contact = pd.read_sql_query('SELECT * FROM retailer_contact', go_crm)
course = pd.read_sql_query('SELECT * FROM course', go_staff)
satisfaction_type = pd.read_sql_query('SELECT * FROM satisfaction_type', go_staff)

### PRODUCT

In [ ]:
merged = pd.merge(product, product_type, left_on='PRODUCT_TYPE_CODE', how='inner', right_on='PRODUCT_TYPE_CODE')
new_product = pd.DataFrame(merged[['PRODUCT_NUMBER', 'PRODUCT_NAME', 'DESCRIPTION', 'INTRODUCTION_DATE', 'PRODUCT_TYPE_CODE', 'PRODUCTION_COST', 'MARGIN', 'PRODUCT_IMAGE', 'LANGUAGE']])
new_product

for index, row in new_product.iterrows():
    try:
        query = f"INSERT INTO Product VALUES ({row['PRODUCT_NUMBER']}, '{row['PRODUCT_NAME'].replace("'", "''")}', '{row['DESCRIPTION'].replace("'", "''")}', '{row['INTRODUCTION_DATE']}', {row['PRODUCT_TYPE_CODE']}, '{row['PRODUCTION_COST']}', '{row['MARGIN']}', '{row['PRODUCT_IMAGE']}', '{row['LANGUAGE']}')"
        export_cursor.execute(query)
    except pyodbc.Error as e:
        print(e)
        print(query)

export_conn.commit()

### SALES_STAFF

In [61]:
merged = pd.merge(staff_manager, sales_branch, left_on='SALES_BRANCH_CODE', how='inner', right_on='SALES_BRANCH_CODE')
new_staff = pd.DataFrame(merged[['SALES_STAFF_CODE', 'WORK_PHONE', 'FAX', 'EMAIL', 'FIRST_NAME', 'LAST_NAME', 'POSITION_EN', 'EXTENSION', 'DATE_HIRED', 'SALES_BRANCH_CODE', 'MANAGER_CODE']])
new_staff['SALES_STAFF_SK'] = range(1, len(new_staff) + 1)
new_staff.set_index('SALES_STAFF_SK', inplace=True)
new_staff.insert(0, 'TIMESTAMP', datetime.now().replace(microsecond=0))

for index, row in new_staff.iterrows():
    try:
        query = f"INSERT INTO Sales_staff VALUES ({row.name}, '{row['TIMESTAMP']}', {row['SALES_STAFF_CODE']}, '{row['WORK_PHONE']}', '{row['FAX']}', '{row['EMAIL']}', '{row['FIRST_NAME']}', '{row['LAST_NAME'].replace("'", "''")}', '{row['POSITION_EN']}', '{row['EXTENSION']}', '{row['DATE_HIRED']}', '{row['SALES_BRANCH_CODE']}', '{row['MANAGER_CODE']}')"
        export_cursor.execute(query)
    except pyodbc.Error as e:
        print(e)
        print(query)

export_conn.commit()

('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (1, '2024-03-18 15:56:01', 100, '+358(0)17 - 433 127', '+358(0)17 - 433 129', 'TSavolainen@grtd123.com', 'Tuomas', 'Savolainen', 'Level 2 Sales Representative', '825', '23-Jul-1998 12:00:00 AM', '31', '18')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (2, '2024-03-18 15:56:01', 101, '82-2-778-6587', '82-2-778-6586', 'CKim@grtd123.com', 'Chang-ho', 'Kim', 'Level 2 Sales Representative', '1228', '15-Dec-1998 12:00:00 AM', '32', '87')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (3, '2024-03-18 15:56:01', 102, '82-2-778-6587', '82-2-778-6586', 'JChoi@grtd123.com', 'Jung-ho', 'Choi', 'Level 3 Sales Representative', '2641', '27-Nov-1998 12:00:00 AM', '32', '87')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (4, '2024-03-18 15:56:01', 103, '886-2-2975-1988', '886-2-2989-4978', 'KKwao@grtd123.com', 'Kwei-Ping', 'Kao', 'Level 2 Sales Representative', '1541', '07-Oct-1998 12:00:00 AM', '33', '87')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (5, '2024-03-18 15:56:01', 104, '886-2-2975-1988', '886-2-2989-4978', 'CFon@grtd123.com', 'Chin-Tsai', 'Fang', 'Level 3 Sales Representative', '2311', '08-May-1996 12:00:00 AM', '33', '87')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (6, '2024-03-18 15:56:01', 105, '86-21-6790-5612', '86-21-6790-5612', 'XWang@grtd123.com', 'Xiangyong', 'Wang', 'Level 2 Sales Representative', '334', '07-May-1998 12:00:00 AM', '34', '87')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (7, '2024-03-18 15:56:01', 106, '86-21-6790-5612', '86-21-6790-5612', 'FMeng@grtd123.com', 'Fei', 'Meng', 'Level 3 Sales Representative', '365', '25-Mar-1998 12:00:00 AM', '34', '87')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (8, '2024-03-18 15:56:01', 107, '+(44) 181 2033144', '+(44) 181 5030282', 'WTaylor@grtd123.com', 'Walter', 'Taylor', 'Branch Manager', '3547', '09-Jun-1995 12:00:00 AM', '35', '18')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (9, '2024-03-18 15:56:01', 108, '+(44) 181 2033144', '+(44) 181 5030282', 'PTamrine@grtd123.com', 'Penelope', 'Tamrine', 'General Manager', '3542', '18-Dec-1998 12:00:00 AM', '35', '108')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (10, '2024-03-18 15:56:01', 109, '+(44) 181 2033144', '+(44) 181 5030282', 'HWilloughby@grtd123.com', 'Humphrey', 'Willoughby', 'Level 2 Sales Representative', '3544', '12-Jun-1998 12:00:00 AM', '35', '107')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (11, '2024-03-18 15:56:01', 110, '+(44) 181 2033144', '+(44) 181 5030282', 'JHythe@grtd123.com', 'James', 'Ross-Hythe', 'Level 3 Sales Representative', '3621', '12-Sep-1997 12:00:00 AM', '35', '107')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (12, '2024-03-18 15:56:01', 111, '+(44) 121 3505267', '+(44) 121 3583843', 'PLinton@grtd123.com', 'Polly', 'Linton', 'Branch Manager', '1216', '18-Jun-1996 12:00:00 AM', '36', '18')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (13, '2024-03-18 15:56:01', 112, '+(44) 121 3505267', '+(44) 121 3583843', 'JLopez@grtd123.com', 'Josef', 'Lopez', 'Level 1 Sales Representative', '1287', '02-Jan-1999 12:00:00 AM', '36', '111')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (14, '2024-03-18 15:56:01', 113, '+(44) 121 3505267', '+(44) 121 3583843', 'KReed@grtd123.com', 'Keith', 'Reed', 'Level 1 Sales Representative', '1198', '15-Jun-1999 12:00:00 AM', '36', '111')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (15, '2024-03-18 15:56:01', 114, '+(44) 121 3505267', '+(44) 121 3583843', 'JWalker@grtd123.com', 'Janet', 'Walker', 'Level 3 Sales Representative', '1233', '27-Jul-1995 12:00:00 AM', '36', '111')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (16, '2024-03-18 15:56:01', 115, '+(44) 121 3505267', '+(44) 121 3583843', 'EBrowne@grtd123.com', 'Emily', 'Browne', 'Level 2 Sales Representative', '1247', '20-Jul-1998 12:00:00 AM', '36', '111')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (17, '2024-03-18 15:56:01', 116, '+(41) 17 12 13 14', '+(41) 17 12 13 20', 'SSommer@grtd123.com', 'Susanne', 'Sommer', 'Level 2 Sales Representative', '1115', '17-Jan-2000 12:00:00 AM', '37', '18')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (18, '2024-03-18 15:56:01', 117, '+(41) 17 12 13 14', '+(41) 17 12 13 20', 'FJever@grtd123.com', 'Frank', 'Jever', 'Level 3 Sales Representative', '1154', '18-Oct-1999 12:00:00 AM', '37', '18')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (19, '2024-03-18 15:56:01', 118, '+(41) 17 12 13 14', '+(41) 17 12 13 20', 'GVertemati@grtd123.com', 'Gianni', 'Vertemati', 'Level 1 Sales Representative', '1254', '10-Feb-2000 12:00:00 AM', '37', '18')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (20, '2024-03-18 15:56:01', 119, '+32 16 20.73.21', '+32 16 20.73.32', 'GGellens@grtd123.com', 'Gracy', 'Gellens', 'Branch Manager', '1349', '10-Sep-1999 12:00:00 AM', '38', '18')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (21, '2024-03-18 15:56:01', 12, '+(49) 40 663 1990', '+(49) 40 663 4571', 'EWiesinger@grtd123.com', 'Elsbeth', 'Wiesinger', 'Level 2 Sales Representative', '1818', '27-Feb-1997 12:00:00 AM', '13', '14')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (22, '2024-03-18 15:56:01', 120, '+32 16 20.73.21', '+32 16 20.73.32', 'GLaermans@grtd123.com', 'Giele', 'Laermans', 'Level 1 Sales Representative', '1340', '15-Nov-1999 12:00:00 AM', '38', '119')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (23, '2024-03-18 15:56:01', 121, '+32 16 20.73.21', '+32 16 20.73.32', 'FDecree@grtd123.com', 'François', 'De Crée', 'Level 1 Sales Representative', '1642', '01-Dec-1999 12:00:00 AM', '38', '119')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (24, '2024-03-18 15:56:01', 122, '+32 16 20.73.21', '+32 16 20.73.32', 'YLattrez@grtd123.com', 'Yvette', 'Lattrez', 'Level 3 Sales Representative', '1633', '09-Dec-1999 12:00:00 AM', '38', '119')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (25, '2024-03-18 15:56:01', 123, '+(43) 13 79 56 32', '+(43) 13 79 56 33', 'WSeefelder@grtd123.com', 'Willi', 'Seefelder', 'Level 2 Sales Representative', '325', '28-Oct-1998 12:00:00 AM', '39', '18')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (26, '2024-03-18 15:56:01', 124, '+(43) 13 79 56 32', '+(43) 13 79 56 33', 'SGruner@grtd123.com', 'Sabine', 'Grüner', 'Level 3 Sales Representative', '348', '18-Feb-1998 12:00:00 AM', '39', '18')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (27, '2024-03-18 15:56:01', 13, '+(49) 40 663 1990', '+(49) 40 663 4571', 'EMorike@grtd123.com', 'Else', 'Mörike', 'Regional Manager', '1865', '02-Jun-1999 12:00:00 AM', '13', '108')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (28, '2024-03-18 15:56:01', 14, '+(49) 40 663 1990', '+(49) 40 663 4571', 'FFuchs@grtd123.com', 'Frank', 'Fuchs', 'Branch Manager', '1847', '12-Jan-1997 12:00:00 AM', '13', '18')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (29, '2024-03-18 15:56:01', 15, '+(49) 40 663 1990', '+(49) 40 663 4571', 'GErler@grtd123.com', 'Gunter', 'Erler', 'Level 2 Sales Representative', '1823', '05-Mar-1998 12:00:00 AM', '13', '14')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (30, '2024-03-18 15:56:01', 16, '+(49) 89 882 3456', '+(49) 89 882 3455', 'BWinkler@grtd123.com', 'Björn', 'Winkler', 'Level 3 Sales Representative', '224', '03-Jul-1996 12:00:00 AM', '14', '17')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (31, '2024-03-18 15:56:01', 17, '+(49) 89 882 3456', '+(49) 89 882 3455', 'FHirsch@grtd123.com', 'Fritz', 'Hirsch', 'Branch Manager', '225', '12-Sep-1996 12:00:00 AM', '14', '18')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (32, '2024-03-18 15:56:01', 18, '+(49) 89 882 3456', '+(49) 89 882 3455', 'JKunze@grtd123.com', 'Jörg', 'Kunze', 'District Manager', '234', '07-Jan-2000 12:00:00 AM', '14', '13')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (33, '2024-03-18 15:56:01', 19, '+33 1 68 94 52 20', '+33 1 68 94 56 60', 'SAllessori@grtd123.com', 'Silvano', 'Allessori', 'Level 2 Sales Representative', '317', '06-Dec-1998 12:00:00 AM', '7', '20')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (34, '2024-03-18 15:56:01', 20, '+(39) 02 41 05 400', '+(39) 02 41 20 549', 'MIacobucci@grtd123.com', 'Maria', 'Iacobucci', 'Branch Manager', 'None', '18-Aug-1996 12:00:00 AM', '7', '18')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (35, '2024-03-18 15:56:01', 21, '+(39) 02 79 53 780', '+(39) 02 79 53 477', 'ATorta@grtd123.com', 'Alessandra', 'Torta', 'Level 3 Sales Representative', 'None', '13-Feb-1997 12:00:00 AM', '7', '20')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (36, '2024-03-18 15:56:01', 22, '+31 (0)20 692 93 94', '+31 (0)20 692 93 06', 'BVelasquez@grtd123.com', 'Belinda', 'Jansen-Velasquez', 'Level 1 Sales Representative', '187', '12-Feb-1999 12:00:00 AM', '9', '25')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (37, '2024-03-18 15:56:01', 23, '+31 (0)20 692 93 94', '+31 (0)20 692 93 06', 'EShapiro@grtd123.com', 'Ellen', 'Shapiro', 'Level 2 Sales Representative', '179', '15-Jan-1999 12:00:00 AM', '9', '25')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (38, '2024-03-18 15:56:01', 24, '+31 (0)20 692 93 94', '+31 (0)20 692 93 06', 'JHaverkamp@grtd123.com', 'Jan', 'Haverkamp', 'Level 2 Sales Representative', '163', '18-Jul-1998 12:00:00 AM', '9', '25')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (39, '2024-03-18 15:56:01', 25, '+31 (0)20 692 93 94', '+31 (0)20 692 93 06', 'KKalkman@grtd123.com', 'Kick', 'Kalkman', 'Branch Manager', '197', '06-Sep-1995 12:00:00 AM', '9', '18')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (40, '2024-03-18 15:56:01', 26, '+31 (0)20 692 93 94', '+31 (0)20 692 93 06', 'MLaponder@grtd123.com', 'Maria', 'Laponder', 'Level 3 Sales Representative', '144', '10-Oct-1995 12:00:00 AM', '9', '25')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (41, '2024-03-18 15:56:01', 27, '+(46) 08 753 116', '+(46) 08 752 592', 'ANilsson@grtd123.com', 'Anders', 'Nilsson', 'Level 2 Sales Representative', '236', '14-Aug-1998 12:00:00 AM', '15', '30')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (42, '2024-03-18 15:56:01', 28, '+(46) 08 753 116', '+(46) 08 752 592', 'BGradin@grtd123.com', 'Bengt', 'Gradin', 'Level 1 Sales Representative', '284', '13-Jan-1999 12:00:00 AM', '15', '30')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")
INSERT INTO Sales_staff VALUES (43, '2024-03-18 15:56:01', 29, '+(46) 08 753 116', '+(46) 08 752 592', 'IEngelbrektsson@grtd123.com', 'Irene', 'Engelbrektsson', 'Level 2 Sales Representative', '213', '18-Feb-1998 12:00:00 AM', '15', '30')
('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]An explicit value for the identity column in table 'Sales_staff' can only be specified when a column list is used and IDENTITY_INSERT is ON. (8101) (SQLExecDirectW)")

### ORDER_METHOD

In [ ]:
new_order_method = order_method[['ORDER_METHOD_CODE', 'ORDER_METHOD_EN']]
new_order_method

for index, row in new_order_method.iterrows():
    try:
        query = f"INSERT INTO Order_method VALUES ({row['ORDER_METHOD_CODE']}, '{row['ORDER_METHOD_EN']}')"
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)

export_conn.commit()

### RETURN_REASON

In [ ]:
new_return_reason = return_reason[['RETURN_REASON_CODE', 'RETURN_DESCRIPTION_EN']]
new_return_reason

for index, row in new_return_reason.iterrows():
    try:
        query = f"INSERT INTO Return_reason VALUES ({row['RETURN_REASON_CODE']}, '{row['RETURN_DESCRIPTION_EN']}')"
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)

export_conn.commit()

### RETAILER_CONTACT

In [ ]:
new_retailer_contact = retailer_contact[['RETAILER_CONTACT_CODE', 'FAX', 'E_MAIL', 'RETAILER_SITE_CODE', 'FIRST_NAME', 'LAST_NAME', 'JOB_POSITION_EN', 'EXTENSION', 'GENDER']]
new_retailer_contact

for index, row in new_retailer_contact.iterrows():
    try:
        last_name = row['LAST_NAME'].replace("'", "''")
        query = f"INSERT INTO Retailer_contact VALUES ({row['RETAILER_CONTACT_CODE']}, '{row['FAX']}', '{row['E_MAIL']}', '{row['RETAILER_SITE_CODE']}', '{row['FIRST_NAME']}', '{last_name}', '{row['JOB_POSITION_EN']}', '{row['EXTENSION']}', '{row['GENDER']}')"
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)

export_conn.commit()

### COURSE

In [ ]:
new_course = pd.DataFrame(course[['COURSE_CODE', 'COURSE_DESCRIPTION']])
new_course

for index, row in new_course.iterrows():
    try:
        query = f"INSERT INTO Course VALUES ({row['COURSE_CODE']}, '{row['COURSE_DESCRIPTION']}')"
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)

export_conn.commit()

### SATISFACTION_TYPE

In [ ]:
new_satisfaction = pd.DataFrame(satisfaction_type[['SATISFACTION_TYPE_CODE', 'SATISFACTION_TYPE_DESCRIPTION']])
new_satisfaction

for index, row in new_satisfaction.iterrows():
    try:
        query = f"INSERT INTO Satisfaction_type VALUES ({row['SATISFACTION_TYPE_CODE']}, '{row['SATISFACTION_TYPE_DESCRIPTION']}')"
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)

export_conn.commit()
export_cursor.close()