In [3]:
import pandas as pd
import sqlite3 as s3
import pyodbc
from datetime import datetime
import warnings
warnings.simplefilter('ignore')


go_sales = s3.connect('go_sales.sqlite')
go_staff = s3.connect('go_staff.sqlite')
go_crm = s3.connect('go_crm.sqlite')

sales_target = pd.read_sql_query('SELECT * FROM sales_targetDATA', go_sales)

In [4]:
sales_target

,Id,SALES_STAFF_CODE,SALES_YEAR,SALES_PERIOD,RETAILER_NAME,PRODUCT_NUMBER,SALES_TARGET,RETAILER_CODE,TRIAL888
0,1,6,2021,5,Altitudes extrêmes,53,489,33,T
1,2,6,2021,5,Altitudes extrêmes,55,666,33,T
2,3,6,2021,5,Altitudes extrêmes,56,682,33,T
3,4,6,2021,5,Camping Sauvage,76,3193,35,T
4,5,6,2021,5,Camping Sauvage,85,7236,35,T
...,...,...,...,...,...,...,...,...,...
39525,39526,83,2020,8,Golf Shop Jiro,107,4683,129,T
39526,39527,83,2021,3,Japan Sports Youhinten,33,497,130,T
39527,39528,83,2021,3,Kitanaka Tozanyouhinten,43,1564,133,T
39528,39529,83,2021,3,Kitanaka Tozanyouhinten,60,600,133,T
39529,39530,83,2021,3,Kitanaka Tozanyouhinten,61,632,133,T